[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
antlr4-python3-runtime = "==4.7.1"
jdcal = "==1.4.1"
linecache2 = "==1.0.0"
openpyxl = "===2.5.2"
punittest = "==0.1.12"
setuptools-antlr = "==0.4.0"
six = "==1.14.0"
traceback2 = "==1.4.0"
unittest2 = "==1.1.0"
et_xmlfile = "==1.0.1"

[requires]
python_version = "3.7"