antlr4-python3-runtime==4.7.1
et-xmlfile==1.0.1
jdcal==1.4.1
linecache2==1.0.0
openpyxl===2.5.2
punittest==0.1.12
setuptools-antlr==0.4.0
six==1.14.0
traceback2==1.4.0
pi
pytest~=5.4.1
setuptools~=46.1.3